@import 'colors';

$mobile-width: 600px;

@import 'content';
@import 'ls';
@import 'nav';
@import 'scrollbar';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $bg;
    color: $fg;
    font-family: monospace;
    font-size: 1rem;
    overflow-x: hidden;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;
}

code {
    color: $fg4;
    padding: 0.5rem;
    margin: 0.5rem;
    
}

li {
    margin-left: 2rem;
}

@media only screen and (max-width: 600px) {
    .mobile-hide {
        display: none;
    }
}


