.nav {
    display: flex;
    padding: 1rem 0;
    margin: 1rem 0;

    #toggle-menu {
        display: none;
    }

    &__title {
        padding: 0.5rem;
        margin-right: 1rem;
        text-decoration: none;
        background-color: $green;
        color: $bg1;
    }

    &__menu-toggle {
        display: none;
    }

    &__link {
        color: $fg;

        padding: 0.5rem;
        text-decoration: underline;
    }

    &__langs {
        margin-left: auto;
    }

    &__lang {
        color: $fg;

        padding: 0.5rem;
        margin: 0 0.5rem;
        text-decoration: underline;

        &--active {
            cursor: pointer;
            text-decoration: none;
            background-color: $green;
            color: $bg1;
        }
    }
}

@media screen and (max-width: $mobile-width) {
    .nav {
        flex-direction: column;

        &__buttons {
            display: flex;
            justify-content: space-between;
        }

        &__menu-toggle {
            display: block;
            cursor: pointer;
        }

        &__hamburger-bar-1, &__hamburger-bar-2, &__hamburger-bar-3 {
            width: 35px;
            height: 5px;
            background-color: $fg;
            margin: 6px 0;
            transition: 0.3s;
            border-radius: 100px;
        }

        #toggle-menu:not(:checked) ~ .nav__links, #toggle-menu:not(:checked) ~ .nav__langs {
            display:none;
        }

        #toggle-menu:checked ~ &__buttons {
            .nav__hamburger-bar-1 {
                transform: translate(0, 11px) rotate(-45deg);
            }

            .nav__hamburger-bar-2 {
                opacity: 0;
            }

            .nav__hamburger-bar-3 {
                transform: translate(0, -11px) rotate(45deg);
            }
        }

        &__links {
            padding: 1rem 0;
        }

        &__link {
            display: block;
        }
    }
}
