* {
    box-sizing: border-box;
}

body {
    background-color: #181818;
    color: white;
    margin: 0;
    padding: 0;

    --site-width: 1000px;
    --aside-width: 300px;

    --accent-light: #eb3e3e;
    --accent-dark: #9b0c0c;
}

header {
    max-width: var(--site-width);
    margin: 0 auto;
    padding: 0 1em;
}

nav {
    background: linear-gradient(to bottom, var(--accent-light), var(--accent-dark));
    padding: 0.25em 0em;
    margin: 2em 0;
}

nav ul {
    max-width: var(--site-width);
    margin: 0 auto;
    padding: 0 1em;
}

nav li {
    display: inline-block;
}

nav li a:hover {
    text-decoration: underline;
}

nav li:not(:first-child)::before {
    content: '\2022';
}

nav a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin: 0 1em;
}

nav li:first-child a {
    margin-left: 0;
}

.container {
    max-width: var(--site-width);
    margin: 0 auto;
    padding: 0 1em;
    display: flex;
    gap: 1em;
}

aside {
    width: var(--aside-width);
}

.card {
    background: #383838;
    border: 1px solid #000;
    margin-bottom: 1em;
}

.card__title {
    background: linear-gradient(to bottom, var(--accent-light), var(--accent-dark));
    margin: 0;
    padding: 0.25em 0.5em;
}

main {
    width: 100%;
    background: #383838;
    border: 1px solid #000;
    padding: 1em;
}

a {
    color: rgb(85, 144, 163);
}
